##############################################
# Visual Studio
##############################################

.vs/
.vscode/

##############################################
# Build
##############################################

**/[Bb]in/
**/[Oo]bj/

##############################################
# User files
##############################################

*.user
*.suo
*.userosscache
*.sln.docstates

##############################################
# Rider
##############################################

.idea/

##############################################
# Publish
##############################################

publish/
Publish/

##############################################
# Logs
##############################################

*.log

##############################################
# Test
##############################################

TestResults/

##############################################
# NuGet
##############################################

packages/

##############################################
# OS
##############################################

.DS_Store
Thumbs.db

##############################################
# Python
##############################################

__pycache__/
*.pyc